:root {
  --primary-bg-color: #2f303a;
  --primary-grey-color: #f5f4fa;
  --primary-wite-color: #ffffff;
  --primary-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --accent-bt-color: #188ce8;
  --main-bt-color: #f5f4fa;
  --new-accent-color: #000000;
  --border-accent-color: #eeeeee;
  --border-header-color: #ececec;
  --border-logo-color: #afb1b8;
  --links-background-color: #44454e;
  --svg-color: #afb1b8;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-wite-color);
  color: var(--primary-text-color);
}
html {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*header*/
.sitenav {
  border-bottom: 1px solid var(--border-header-color);
}
.top-nav {
  display: flex;
  align-items: center;
}
.header-container {
  background-color: var(--primary-wite-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}
.navigation,
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-item,
.navigation-item {
  display: flex;
  align-items: center;
}
.contacts-item:not(:last-child),
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation {
  margin-left: 93px;
}

.link,
.contacts-link {
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.contacts-link:hover,
.link:focus,
.contacts-link:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.logo {
  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--accent-color);
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
}
.logo-position {
  padding: 24px 0;
}
.studio {
  color: var(--new-accent-color);
}
.current {
  color: var(--accent-color);
  text-decoration: none;
  position: relative;
}
.current::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts-link {
  color: var(--text-color);
  display: flex;
  align-items: center;
}

/*hero*/
.hero {
  background-color: var(--primary-bg-color);
  padding: 200px 0;
}
.hero .container {
  display: flex;
  flex-direction: column;
}

.hero-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-wite-color);
  margin-bottom: 30px;
}
.btn-position {
  display: flex;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  text-transform: none;
  color: var(--primary-wite-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: drop-shadow 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 32px;
  margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-bt-color);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mainImg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*advantages */

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--main-bt-color);
  border-radius: 4px;
  margin-bottom: 30px;
  fill: currentColor;
}
.advantages-list {
  display: flex;
}

.advantages-item:last-child {
  margin-right: 0;
}

.advantages-item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}
/*our job*/
.our-jobs-section {
  padding-top: 0;
}
.our-job .container {
  display: flex;
  flex-direction: column;
}
.our-jobs-title,
.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.our-jobs {
  display: flex;
}

.our-jobs-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.our-jobs .our-jobs-item:last-child {
  margin-right: 0;
}
.item-box {
  position: relative;
}
.our-jobs-lable {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.lable-description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-wite-color);
}
/*our team*/

.our-team-section {
  background-color: var(--primary-grey-color);
}

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.our-team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
}

.our-team {
  display: flex;
}
.our-team-item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-wite-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;
}
.our-team-item:last-child {
  margin-right: 0;
}
.item-description {
  padding: 30px 0px;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link,
.footer-social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icons-link {
  border-radius: 50%;
  background-color: var(--links-background-color);
}

.footer-social-icons-link:hover,
.footer-social-icons-link:focus {
  background-color: var(--accent-color);
}
.footer-social-icons-svg {
  fill: var(--primary-wite-color);
}

.social-icons-link:hover,
.social-icons-link:focus {
  cursor: pointer;
  background-color: var(--accent-color);
}

.social-icons-svg {
  fill: var(--svg-color);
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
  fill: var(--primary-wite-color);
}

/*our clients*/
.client {
  display: flex;
}
.client-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--border-logo-color);
  border: 1px solid currentColor;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  overflow: hidden;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-item:hover,
.client-link:hover,
.client-item:focus,
.client-link:focus {
  color: var(--accent-bt-color);
}

.client-item .client-link {
  fill: currentColor;
}

/*footer*/
.footer-content {
  display: flex;
  align-items: baseline;
}
.content-item {
  margin-right: 70px;
}
footer {
  background-color: var(--primary-bg-color);
  padding: 60px 0;
}
.footer-studio {
  color: var(--primary-wite-color);
}
.footer-adress,
.footer-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-wite-color);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
}
footer .logo {
  margin-bottom: 20px;
}
/*.footer-social-links {
}*/
.footer-social-title,
.subscribe-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-wite-color);
  margin-bottom: 20px;
}

/*subscribe*/
.subscribe {
  margin-left: 93px;
}
.form-subscribe {
  position: relative;
  display: flex;
}
.subscribe-title {
  margin-bottom: 15 px;
  display: block;
}
.subscribe-input {
  margin: 0;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-style: regular;
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--primary-bg-color);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover,
.subscribe-input:focus {
  border-color: var(--accent-color);
}
.subscribe-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  text-transform: none;
  color: var(--primary-wite-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  padding: 10px 32px;
  position: relative;
  display: flex;
  align-items: center;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button .subscribe-icon {
  margin-left: 5px;
  margin-top: 5px;
  fill: var(--primary-wite-color);
}

/*portfolio*/
/* filters*/
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item:not(:first-child) {
  margin-left: 8px;
}
.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--primary-grey-color);
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
}
.filter:hover,
.filter:focus {
  color: var(--primary-wite-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter.oll {
  color: var(--primary-wite-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  margin: -30px 0 0 -30px;
  display: flex;
  flex-wrap: wrap;
}
.project {
  margin: 30px 0 0 30px;
}
.project-top {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-overlay-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-wite-color);
  opacity: 1;
}
.description {
  padding: 20px 24px;
  border: 1px solid var(--border-accent-color);
  border-top: none;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.portfolio-link:hover,
.portfolio-link:focus {
  background: var(--primary-wite-color);
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link {
  text-decoration: none;
}

.portfolio-link:hover .project-overlay,
.portfolio-link:focus .project-overlay {
  transform: translateY(-100%);
}
/* Top Icons */
.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

/*modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backdrop:not(.is-hidden) {
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  height: 581px;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  overflow: auto;

  background-color: var(--primary-wite-color);
  color: var(--primary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-wite-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  background: url(../images/icons/close.svg) 50% 50% no-repeat;
  cursor: pointer;
}
.modal-close-button:hover,
.modal-close-button:focus {
  color: var(--accent-color);
}

.modal-close-button .modal-close {
  fill: currentColor;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.form-inputs {
  position: relative;
  width: 100%;
}

.form-inputs.comment {
  margin-bottom: 7px;
}

.form-inputs:hover,
.form-inputs:focus {
  color: var(--accent-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field {
  margin-bottom: 7px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field:focus-within {
  color: var(--accent-color);
}

.form-inputs label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  padding: 0;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  display: block;
}

.form-inputs input {
  margin-top: 4px;
}

.form-inputs textarea {
  margin-top: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
}

.field-comment {
  margin-bottom: 17px;
}

.field-comment textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--accent-color);
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Check box */

.distribution-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--text-color);
  position: relative;
  width: 100%;
}

.distribution-label .form-icon {
  fill: var(--primary-wite-color);
  visibility: hidden;
  margin: 0;
  left: 6px;
  bottom: 3px;
  width: 14px;
}

.distribution-label input[type="checkbox"]:checked ~ .form-icon {
  visibility: visible;
}

.distribution-label input[type="checkbox"]:checked ~ .check-box {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-origin: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.distribution-label:hover .check-box {
  border-color: var(--accent-color);
}

.distribution-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 3px;
}

.check-box {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  margin-right: 7px;
  transition: border-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 3px;
}

.send-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  text-transform: none;
  color: var(--primary-wite-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  padding: 10px 32px;
  position: relative;
  margin: 0;
  transition: background-color 1250ms cubic-bezier(0.4, 0, 0.2, 1);
}
